# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/39/
/broadcast/*/2484/
/broadcast/*/31337/
/broadcast/*/11155420/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# abigen
abigen.json
